
<body>
<h1 >
      <div class="container">
    <div class="row">
      <div  class="col">
        <img style="height:60vW;max-height:700px;margin-left:2%;margin-top:-20px;" id="imgPokemon"  src="https://www.pngarts.com/files/4/Pokemon-Logo-PNG-Background-Image.png" class="Banner" alt="">
        
        </div>
        
    </div>
    </div>
        </h1>

<nav style="margin-top:-100px;"> Choose your Starter! </nav>
  
  <br>
  <br>
<!--<ul>
<li *ngFor="let pokemon of Pokemons;index as pokemonid"(click)="SelectPokemon(Pokemon)" class="current" >
  <a [routerLink]="['/pokemons',pokemonid+1]" >
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemonid+1}}.png" >
  <span> #{{pokemonid+1}} {{pokemon.name}}</span> 
  </a>
 
</li>

</ul>-->

  <div class="d-flex flex-wrap">
    <ul *ngFor="let pokemon of Pokemons | paginate: { itemsPerPage: 151,currentPage: page, totalItems: 807}"(click)="SelectPokemon(Pokemon)" class="current" >
      <div class="hvr-grow" class="card" >
        <a [routerLink]="['/pokemons',pokemon.url.split('/')[6]]" >
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.url.split('/')[6]}}.png" class="cardIMG" alt="API RESOURCE NOT FOUND">
            <div class="card-body">
            <p class="card-text">#{{pokemon.url.split('/')[6]}} {{pokemon.name}}</p>
            </div>
          </a>
      </div>
    </ul>
  </div>

  <div class="pgndiv">
      <pagination-controls class="pgn" (pageChange)="page = $event" 
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Anterior"
                      nextLabel="Seguinte"></pagination-controls>
  </div>
 <!-- <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <button style="margin:5px;" class="btn btn-secondary">Atrás</button>
        <button style="margin:5px;" class="btn btn-secondary">Afrente</button>
      </div>
      <div class="col">
      </div>
    </div>
  </div>-->
</body>