.card{
  width: 7rem;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.card:hover, .card:focus, .card:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

body{
  font-family: Lato;
  background-color: black
}
.cardIMG {

filter:brightness(0);
}

.imgPokemon{
margin-left:"6%";
height:"20vW";max-height: "40vw;";

}
.cardIMG:hover {
filter:none;
}
nav{
 font-family: "Times New Roman", Times, serif;
 font-style: italic;
 font-size: 40px;
 text-align: center;
 webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
    margin-top: 30px;
}
@-webkit-keyframes color-change {
    0% { color: black; }
    50% { color: blue; }
    100% { color: yellow; }
}
@-moz-keyframes color-change {
    0% { color: rgb(119, 0, 255); }
    50% { color: green; }
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: rgb(145, 255, 0); }
    50% { color: orange; }
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: rgb(214, 67, 92); }
    100% { color: red; }
}
@keyframes color-change {
    0% { color: red; }
    50% { color: rgb(0, 217, 255); }
    100% { color: red; }
}
.Banner{
   display: block;
    margin-left: 195px;
    margin-right: auto;
}

