<div *ngIf="SelectedPokemon" >
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{SelectedPokemon.id}}.png" alt="">
<p *ngIf="SelectedPokemon" >
  Name: <span>{{SelectedPokemon.name}}</span>
 <br>
  Types: <span *ngFor="let type of SelectedPokemon.types " > {{type.type.name}}</span> 
</p>
</div>



<!--<p  *ngIf="SelectedPokemon" >
  <div *ngFor="let image of SelectedPokemon.images">
    <img src="{{SelectedPokemon.img()}}">
  </div>
 Name: <span>{{SelectedPokemon.name}}</span>
 <br>
  Types: <span *ngFor="let type of SelectedPokemon.types " > {{type.type.name}}</span> 
</p>-->
