body{
  font-family: "Times New Roman", Times, serif;
 font-style: italic;
 font-size: 20px;
}
figure{
  
  margin-left: auto;
  margin-right: auto;
  
}
figcaption{
  text-align: center;
}
div #pokedetails{
    margin-left: auto;
    margin-right: auto;
    display:-ms-flexbox;
   

}
.Detail_PokeIMG{
  
  width: 270px;

}
.IMGshiny{
  margin-left: auto;
  margin-right: auto;
   width: 150px;
    
}
.center-screen {
  
  margin-top: 3rem;
  text-align: center;
  
}

.cardIMG {
filter: brightness(0);
}
cardIMG:hover {
filter: none;
}
table{
  border: 1px solid white;
   
    margin-left: auto;
    margin-right: auto;

}
td {
  padding: 5px;
  text-align: left;
  border: 1px solid white
}
