
<h1 class="center-screen">{{SelectedPokemon.name}}</h1>

<div *ngIf="SelectedPokemon">
  <!-- POKEMON DETAILS -->
  <figure class="Detail_PokeIMG">
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{SelectedPokemon.id}}.png"  alt="">
  <figcaption>Front </figcaption>
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/{{SelectedPokemon.id}}.png" alt="">
  <figcaption>Back</figcaption>
  </figure>

  <!--FEMALE VERSION -->
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{SelectedPokemon.id}}.png" alt="">
  
  <!-- SHINY VERSION -->
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/{{SelectedPokemon.id}}.png" alt="">
  <img 
  src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/{{SelectedPokemon.id}}.png" alt="">
  
  <!--<h2>Name:{{SelectedPokemon.name}}</h2>-->
  <h4>Types:</h4>
  <ul>
    <li *ngFor="let type of SelectedPokemon.types">
    {{type.type.name}}
    </li>
  </ul>
  <!--<h4>Stats:</h4>
  <ul>
    <li *ngFor="let stat of SelectedPokemon.stats">
    {{stat.stat.name}}:{{stat.base_stat}}
    </li>
  </ul>-->
</div>
<table  class="table-sm table-dark table-hover" >
  <thead>
    <tr >
       
      <th scope="col">Stats</th>
      <th scope="col">Value</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stat of SelectedPokemon.stats">
      
      <td>{{stat.stat.name}}</td>
      <td>{{stat.base_stat}}</td>
      
    </tr>
    <br>
    <thead>
       <tr >
          <th scope="col"  >Possible Moveset</th>
       </tr>
    </thead>
    <tr>
      <td>
         
          <select name="Poke_moves" >
    <option value="1"  *ngFor="let move of SelectedPokemon.moves">{{move.move.name}}</option>
          </select>
            <select name="Poke_moves" >
    <option value="2"  *ngFor="let move of SelectedPokemon.moves">{{move.move.name}}</option>
          </select>
            <select name="Poke_moves" >
    <option value="3"  *ngFor="let move of SelectedPokemon.moves">{{move.move.name}}</option>
          </select>
            <select name="Poke_moves" >
    <option value="4"  *ngFor="let move of SelectedPokemon.moves">{{move.move.name}}</option>
          </select>
        
      </td>
    </tr>
  </tbody>
</table>
<!-- MOVES -->








<!-- CODIGO DE TESTES


<div *ngIf="SelectedPokemon" >
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{SelectedPokemon.id}}.png" alt="">


<ul *ngIf="SelectedPokemon" >
 Name: <span>{{SelectedPokemon.name}}</span>
 <br>
  Types: <span *ngFor="let type of SelectedPokemon.types " > {{type.type.name}}</span>
  
  <br>
  Stats: <span *ngFor="let stat of SelectedPokemon.stats"> {{stat.stat.name}}:{{stat.base_stat}}</span>
  <br>
  Abilities: <span *ngFor="let ability of SelectedPokemon.abilities">{{ability.ability.name}}</span>

</ul>
</div>


-->
